<h1>Hot Weather Widget</h1>
<div class="element">
  <ng-container *ngIf="(hotels$ | async) as hotels; else loading">
    <div class="element-left">
      <app-main [hotels]="hotels"></app-main>
    </div>
    <div class="element-right">
      <app-weather [weather]="hotels[0].weather"></app-weather>
      <app-village [social]="hotels[0].social_info"></app-village>
    </div>
  </ng-container>
  <div class="clear"> </div>
</div>
<ng-template #loading>
  <h1>...loading</h1>
</ng-template>
<div class="copy-right">
  <p>© 2015 Hot Weather Widget. All rights reserved | Design by  <a href="http://w3layouts.com/" target="_blank">  W3layouts </a></p>
</div>
